body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:776px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:776px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:380px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:17px;
  top:89px;
  width:366px;
  height:602px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:293px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:31px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:17px;
  top:65px;
  width:366px;
  height:31px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:8px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u1325 {
  position:absolute;
  left:273px;
  top:73px;
  width:102px;
  height:17px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:537px;
}
#u1327 {
  position:absolute;
  left:17px;
  top:96px;
  width:366px;
  height:537px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:260px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:204px;
}
#u1329 {
  position:absolute;
  left:17px;
  top:487px;
  width:366px;
  height:204px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:94px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331 {
  position:absolute;
  left:17px;
  top:446px;
  width:366px;
  height:41px;
}
#u1331_input {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u1332 {
  position:absolute;
  left:354px;
  top:454px;
  width:22px;
  height:23px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
